@import "bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";


body {
  color: #333;
  padding-top: 70px; // offset fixed navbar
}



.inline {
  width: auto;
  display: inline-block;
}

// Overwrite default dropdown styles on inverse navbars
.navbar-inverse {
  .dropdown-menu {
    background-color: #222;
    border-color: #080808;
    & > li > a {
      color: #ccc;
      &:hover{
        color: #fff;
        background-color: #333;
      }
    }
  }
}