p This diagram depicts the flow of money through Oakland's budget: from revenue sources (on the left), to the General Fund or various non-discretionary funds (in the center), and finally to the various city departments' expenses (on the right).
p
  em Mouse over a flow line to highlight it; click on a bar to highlight all its flows.
