& {
  padding-top: 50px;
}
.navbar {
  margin-bottom: 0;
}

section {
  margin-bottom: 30px;
}


.hero-unit {
  height: 300px;
  position: relative;
  background-image: url("/images/home/lake_merritt.jpg");
  background-size: cover;
  @include box-shadow(rgba(#000, .3) 0 0 10px inset);
  h1 {
    font-size: 44px;
  }
  .cite {
    position: absolute;
    font-size: 11px;
    bottom: 0;
    right: 0;
    @include opacity(0);
    @include transition(opacity, .2s);
    a { 
      padding: 5px;
      display: block;
      background: rgba(#fff, .4);
      &:hover {
        text-decoration: none;
      }
    }
  }
  &:hover .cite {
    @include opacity(1);
  }
}

.img-default {
  background: $gray-light;
  max-width: 100%;
  height: 200px;
}