.container 
  .row
    .intro.col-md-12
      h2 Oakland's 2013-15 Adopted Budget
      
  .row
    .col-md-6
      a(href="/2013-2015-adopted-budget-flow.html")
        h3 Cash Flow
        p Understand the big picture: where money comes from, and where it goes.
        img.img-responsive(src="/images/flow-thumb.png") 

    .col-md-6
      a(href="/2013-2015-adopted-budget.html")
        h3 Detailed Breakdown
        p Drill down into detailed spending and revenue data for each department.
        img.img-responsive(src="/images/treemap-thumb.png")
        