[submodule "js/openspendingjs"]
  path = js/openspendingjs
	url = git://github.com/openspending/openspendingjs.git
[submodule "_production"]
	path = _production
	url = git@github.com:openoakland/openbudgetoakland-staging.git
