.container
  .row
    .col-md-8
      div
        h4.subheader Mayor's Proposed Spending for 2013-15 (Version 1)
        p
        em
          | UPDATE:
          a(href='test_mayor_13-15_proposed.html') Version 2
          | of this visual starts at the "Fund" level to better highlight the General Fund. We also added the ability to separate this two-year budget into Year 1 and Year 2.
          a(href='test_mayor_13-15_proposed.html') Take a look
          | . See discussion about Version 1 below.
        //- SHARE BUTTON
           
        div
          a.a2a_dd(href='http://www.addtoany.com/share_save')
          img(src='http://static.addtoany.com/buttons/share_save_171_16.png', width='171', height='16', border='0', alt='Share')
          script(type='text/javascript', src='http://static.addtoany.com/menu/page.js')
        h6#breadcrumbs(align='right')
      //- TREEMAP
         
      #treewidget13-15
      //- SHARE BUTTON
         
      div
        a.a2a_dd(href='http://www.addtoany.com/share_save')
        img(src='http://static.addtoany.com/buttons/share_save_171_16.png', width='171', height='16', border='0', alt='Share')
        script(type='text/javascript', src='http://static.addtoany.com/menu/page.js')
      //
       <p><a class="success button" href="https://data.oaklandnet.com/Financial/City-of-Oakland-Proposed-Policy-Budget-FY2013-15/b8mb-8tti" target="_blank">See all data</a></p>
       
    .row
      .col-md-8
        iframe(width='800px', title='City of Oakland Proposed Policy Budget FY2013-15', height='300px', src='https://data.oaklandnet.com/w/b8mb-8tti/?cur=0TfLKym6A0L&from=root', frameborder='0', scrolling='no')
        a(href='https://data.oaklandnet.com/Financial/City-of-Oakland-Proposed-Policy-Budget-FY2013-15/b8mb-8tti', title='City of Oakland Proposed Policy Budget FY2013-15', target='_blank') City of Oakland Proposed Policy Budget FY2013-15
        p
        a(href='http://www.socrata.com/', target='_blank') Powered by Socrata
        #disqus_thread
  
    script(type='text/javascript')
      function backHome() {
        document.getElementById('treewidget13-15').src = document.getElementById('treewidget13-15').src;
        }
