extends partials/layout

prepend pageTitle
  - var title = "Focus on Measure Z"

block bodyClass
  - var slug = "visuals"

block content
  .container
    .row
      .col-md-12
        h2.subheader How Does Oakland Fund Violence Prevention?
    
    .row
      .col-md-6 
        h3 Summary of Measure Z Funding
        a(href='/images/home/measurez.pdf' target='_blank')
          img.img-responsive.thumbnail(src="/images/home/measureZ12.png" alt="Does our city's budget reflect our commitment to violence prevention?")
      .col-md-6 
        h3 Analysis: Does the Measure Z Budget Reflect a Good Strategy for Violence Prevention?
        a(href='/images/home/measureZ3.pdf')
          img.img-responsive.thumbnail(src="/images/home/measureZ3.png" alt="Analysis of Measure Z strategy")

    .row 
      .col-md-12
        a(href='https://docs.google.com/document/d/1nJBEkue4MVvIjrMx1yZESroX6pLeky7N7A0_lTVpzP4/edit' target='_blank')
          p Want to know more? Delve into these Measure Z resources compiled by Open Budget: Oakland