@import "variables";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

@import "treemap";

body {
  color: #333;
  padding-top: 70px; // offset fixed navbar
}

nav.main-nav {
  font-family: $headings-font-family;
}

.inline {
  width: auto;
  display: inline-block;
}

// Overwrite default dropdown styles on inverse navbars
.navbar-inverse {
  .dropdown-menu {
    background-color: #222;
    border-color: #080808;
    & > li > a {
      color: #ccc;
      &:hover{
        color: #fff;
        background-color: #333;
      }
    }
  }
}