.img-default {
  margin-bottom: 10px;
}

.inline {
  width: auto;
  display: inline-block;
}

.lead {
  margin: 1em auto;
  max-width: 40em;
}

.intro {
  margin-top: 1em;
}

* {
  background-repeat: no-repeat;
}
