body {
  font-family: 'Arvo', 'sans-serif';
}

h1,h2,h3,h4,h5,h6 {
  font-weight:normal;
}

#chart {
    height: 650px;
}

#hover_description {
    position: absolute;
    opacity: 0;
    padding: 8px;
    background-color: #dfdfdf;
    visibility: hidden;
    transition: visibility 0s 0.1s,opacity 0.1s;
    font-size: 14px;
}

#hover_description.show {
  visibility: visible;
  opacity: 0.85;
  transition-delay: 0s;
}

.node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
    stroke-width: 1px;
    transition: stroke-width 0.1s;
}

.node text {
    pointer-events: none;
    font-size: 12px;
    transition: font-size 0.3s;
}

.node.highlight text {
  font-size: 15px;
}

.node.highlight rect {
  stroke-width:2px;
}

.link {
    fill: none;
    stroke-opacity: .2;
    transition: stroke-opacity 0.3s;
}

.link.highlight {
    stroke-opacity: .6;
}

#warning{
    color: red;
}
