// a flag to toggle asset pipeline / compass integration
// defaults to true if twbs-font-path function is present (no function => twbs-font-path('') parsed as string == right side)
// in Sass 3.3 this can be improved with: function-exists(twbs-font-path)
$bootstrap-sass-asset-helper: (twbs-font-path("") != unquote('twbs-font-path("")')) !default;
// Variables
// --------------------------------------------------


//== Colors


$green-dark:            #004a37;
$green-darker:          #014e3c;
$teal:                  #00e2ae;
$gold:                  #fae3b5;
$green-muted:           #42928f;
$purple:                #6c0b61;

$gray-pale:             #f9f9f9;
$gray-dark:             #555;
$gray-border:           #ddd; 


// $brand-primary:         #fae3b5 !default;
// $brand-primary:         #009DB0 !default; // blue
$brand-primary:         $green-dark !default; // emerald

//== Scaffolding
//** Global textual link color.
$link-color:            #009DB0 !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;


//== Typography
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$headings-font-family:    'Arvo', $font-family-sans-serif;
$headings-line-height:    1.2;
$headings-color:          $brand-primary;

//== Iconography
//== Components

//== Tables

//== Buttons

//== Forms

//== Dropdowns

//-- Z-index master list

//== Media queries breakpoints

//== Grid system

//== Container sizes


//== Navbar

$navbar-default-bg:                $gray-pale !default;
$navbar-default-color:             darken($navbar-default-bg, 50%) !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
// $navbar-default-link-color:                $gray-dark;
// $navbar-default-link-hover-color:          $purple !default;
// $navbar-default-link-hover-bg:             transparent !default;
// $navbar-default-link-active-color:         #555 !default;
// $navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
// $navbar-default-link-disabled-color:       #ccc !default;
// $navbar-default-link-disabled-bg:          transparent !default;

// // Navbar brand label
$navbar-default-brand-color:               $gray-dark !default;
$navbar-default-brand-hover-color:         $green-dark !default;
// $navbar-default-brand-hover-bg:            transparent !default;

// // Navbar toggle
// $navbar-default-toggle-hover-bg:           #ddd !default;
// $navbar-default-toggle-icon-bar-bg:        #888 !default;
// $navbar-default-toggle-border-color:       #ddd !default;


// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      lighten($brand-primary, 50%) !default;
$navbar-inverse-bg:                         $brand-primary !default;
// $navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
$navbar-inverse-link-color:                 lighten($brand-primary, 40%) !default;
// $navbar-inverse-link-hover-color:           #fff !default;
// $navbar-inverse-link-hover-bg:              transparent !default;
// $navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
// $navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
// $navbar-inverse-link-disabled-color:        #444 !default;
// $navbar-inverse-link-disabled-bg:           transparent !default;

// // Inverted navbar brand label
// $navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
// $navbar-inverse-brand-hover-color:          #fff !default;
// $navbar-inverse-brand-hover-bg:             transparent !default;

// // Inverted navbar toggle
// $navbar-inverse-toggle-hover-bg:            #333 !default;
// $navbar-inverse-toggle-icon-bar-bg:         #fff !default;
// $navbar-inverse-toggle-border-color:        #333 !default;


//== Navs

//=== Shared nav styles
//== Tabs

//== Pills

//== Pagination

//== Pager

//== Jumbotron

//== Form states and alerts

//== Tooltips

//== Popovers

//== Labels

//== Modals

//== Alerts

//== Progress bars

//== List group

//== Panels

//== Thumbnails

//== Wells

//== Badges

//== Breadcrumbs

//== Carousel

//== Close

//== Code

//== Type

//== Miscellaneous
