@import "variables";
@import "mixins";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootstrap-overrides"; // custom styles to override Bootstrap defaults
@import "base";
@import "sections/sections";

@import "treemap"; // D3 Treemap

body {
  color: #333;
  padding-top: 70px; // offset fixed navbar
}

nav.main-nav {
  font-family: $headings-font-family;
}

.inline {
  width: auto;
  display: inline-block;
}

// Overwrite default dropdown styles on inverse navbars
.navbar-inverse {
  .dropdown-menu {
    background-color: #222;
    border-color: #080808;
    & > li > a {
      color: #ccc;
      &:hover{
        color: #fff;
        background-color: #333;
      }
    }
  }
}




footer {
  padding-top: 10px;
  background-color: #F4F3EA;
  color: #c2b99e;
  a {
    color: darken(#c2b99e, 20%);
    &:hover {
      color: darken(#c2b99e, 30%);
    }
  }
  ul.list-inline {
    li {
      margin-right: 10px;
      a {
        @include opacity(.8);
        &:hover {
          @include opacity(1);
        }
      }
      img {
        vertical-align: baseline;
      }
    }
  }
}


// 'Responsive' sticky footer
@mixin footer-height($height){
  #wrapper { margin-bottom: -$height; }
  #wrapper-footer { height: $height; }
  #footer { min-height: $height; }
}
@include footer-height(130px);

@media (max-width: $screen-sm-min){ 
  @include footer-height(200px);
}

html {
  height: 100%;
  overflow-y: scroll;
}
body {
  height: 100%;
  position: relative;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
}
