// { "presets": ["react","es2015"] }
// { "presets": [
//   ["@babel/preset-env", {
//     "useBuiltIns": "usage",
//     "corejs": 3,
//     "debug": true
//     }]
// ] }

{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}