.container
  style.
    #radar{
    display:     block;
    max-width:   100%;
    margin:      auto;
    padding-top: 10px;
    }
    #breadcrumbs {
    margin:  0px;
    padding: 0px;
    cursor:  pointer;
    }
    #table {
    display:   block;
    max-width: 100%;
    margin:    auto;
    }
    #tooltip p {
    margin:  0px;
    padding: 0px;
    }
    .amount {
    padding: 0px;
    margin:  0px;
    font-size:   medium;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }
    .name {
    padding: 0px;
    margin:  0px;
    font-size:   small;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }
    #spacer {
    height: 30px;
    }
  .row
    .intro.col-md-8
      h1 Approved Budget 2014-2015
  .row
    .col-sm-6
      h3#title title
    .col-sm-6#dropdown      
  .row
  #radar

script(src='/js/ramda.min.js', charset='utf-8')
script(src='/js/check_deps.js', charset='utf-8')
script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
script(src='/js/palette.js', charset='utf-8')
script(src='/js/radarChart.js', charset='utf-8')  
script(src='/js/source.js', charset='utf-8')
script(src='/js/data.js', charset='utf-8')
script(src='/js/tooltip.js', charset='utf-8')    
script(src='/js/hash.js', charset='utf-8')
script(src='/js/budget-radar.js', charset='utf-8')
script.
  var config = {
      /* set values available in dropdown files */
      dropdown_values: {
        "Year": ["FY14-15"],
        "Account": ["Expense"]
      },
      /* set the default values */
      dropdown_choice: {
        "Year": "FY14-15",
        "Account": "Expense"
      },
      /* create the url to the data file based on the dropdown choices */
      url: function() {
        return 'data/okc_tree/Revenue14-15.json';
      }
    };
  

  
    function _parse_hash(hash) {
    
      /* Example hash 
         #fy14-15.expense
      */
  
      var hash_array = hash.split(".");
      console.log("hash_array",hash_array);
      return hash_array.join(".");
    }
  
    /* need to parse hash on load before creating treemap to make sure we 
     * don't set the dropdown values before reading them from the hash */
    var hash_array = ob.hash().parse();
    console.log("array from obj", hash_array);
    /* get width of container */
    var parent = d3.select(".container");
    var width = parent.node().offsetWidth - parseInt(parent.style("padding-left")) - parseInt(parent.style("padding-right"));
    
    ob.display.budget_radar()
      .width(width)
      .height(600)
      .threshold(0.03)
      .url(config.url())
      .create();
   