.container 
  .row
    .intro.col-md-12
      h2 Mayor's 2015-17 Proposed Policy Budget
      p.lead The mayor's proposed budget was <a href='/budget-process.html#5' title="Timeline: Proposed Policy Budget Released">released May 1</a> and will be debated by the public and City Council until the Council <a href='/budget-process.html#12' title="Timeline: Council Budget Adoption">adopts a final budget by June 30</a>.
      h4 The city wants your input! 
      p Here is some language about getting involved
      button(class="btn btn-info") (link to the survey or whatever?)
  .row
    .col-md-6
      a(href="/2015-17-proposed-budget-flow")
        h3 Cash Flow
        p Understand the big picture: where money comes from, and where it goes.
        img.img-responsive(src="/images/flow-thumb.png") 

    .col-md-6
      a(href="/2015-17-proposed-budget-tree")
        h3 Detailed Breakdown
        p Drill down into detailed spending and revenue data for each department.
        img.img-responsive(src="/images/treemap-thumb.png")
        