extends templates/tree-template.jade

block title 
  h1 Detailed Breakdown: 2015-17 Mayor's Proposed Policy Budget 


block disqus_config
  script(type='text/javascript').
    var disqus_identifier = "MayorsBudget1517";

block datafiles
  script.
    var config = {
      /* set values available in dropdown files */
      dropdown_values: {
        "Year": ["FY15-16", "FY16-17"],
        "Account": ["Revenue", "Expense"]
      },
      /* set the default values */
      dropdown_choice: {
        "Year": "FY16-17",
        "Account": "Expense"
      },
      /* create the url to the data file based on the dropdown choices */
      url: function() {
        return 'data/tree/Proposed.' + this.dropdown_choice["Account"] + "." + this.dropdown_choice["Year"] + ".json";
      }
    };