h2.subheader What we do
p
  | Open Budget: OKC promotes a deeper understanding of the city budget, so that citizens, officials, and other stakeholders can engage in more informed dialogue about how the Oklahoma City budget currently works and how it should work in the future.
h2.subheader How we do it
ul.disc
  li
    | We work with 
    strong community groups 
    | to learn what aspect of the budget is most relevant to them, and how it would be best shared with the public.
  li
    | We work with 
    strong Oklahoma City's Budget Office 
    | to access budget data and present it in a simple, useful format.
  li
    | We 
    strong visualize 
    | Oklahoma City's budget data, and 
    strong share resources 
    | for people to create their own visualizations and analyses.
  li
    | We use tools that are 
    strong free, open-source, and require minimum technical skill
    |.
  li
    | We 
    strong stimulate dialogue and provide a forum 
    | for the Oklahoma City community to discuss the budget.
p
  | Now that you know our goals, 
  a(href='contact.html') please share your ideas here
  | .
