div
  h2.subheader Who we are
  p
  | Open Budget: OKC is a project by #[a(href='http://codeforokc.org') Code for OKC] and is the result of many contributors including coders, community advocates, and city officials. We're looking for ideas and help, so get in touch and join in at our monthly
  | meetups.  We have a monthly in-person meeting (please check 
  a(href='http://www.meetup.com/Code-for-OKC/' target='_blank') meetup.com 
  |for location and time)
  | and an online virtual meeting on the 2nd Wednesday of each month on our 
  a(href='slack.codeforokc.org' target='_blank') Code for OKC Slack
  |.
  h4.subheader Current team:
  ul.list-unstyled
    li Scott Maslar (#[a(href='https://twitter.com/scottmaslar') twitter]/#[a(href='https://github.com/mascott') github])
    li Scott Murphy (#[a(href='https://twitter.com/scottmurphy09') twitter]/#[a(href='https://github.com/smurphy8') github])
    li Jeremy Green (#[a(href='https://twitter.com/jagthedrummer') twitter]/#[a(href='https://github.com/jagthedrummer') github])
    li Catherine Lippert (#[a(href='https://twitter.com/cahiller') twitter]/#[a(href='https://github.com/cahiller') github])
    li Matt Chandler (#[a(href='https://twitter.com/mkchandler') twitter]/#[a(href='https://github.com/mkchandler') github])
  h4.subheader City partners:
  ul.list-unstyled
    li Doug Dowler, Budget Director, City of Oklahoma City
    li Zach Nash, Creative Manager, City of Oklahoma City
  h4.subheader Contributors:
  ul.list-unstyled
    li Mayiawo Aken'Ova (#[a(href='https://twitter.com/makenova') twitter]/#[a(href='https://github.com/makenova') github])
    li Mathew Morris (#[a(href='https://twitter.com/mathewmorris') twitter]/#[a(href='https://github.com/mathewmorris') github])
    li James Deaton (#[a(href='https://twitter.com/jed') twitter]/#[a(href='https://github.com/okjed') github])
    li @railsnewbie257 (#[a(href='https://github.com/railsnewbie257') github])
