.container
  .row
    .col-md-12
      h1 Oklahoma City Budget Visualizations

  .row.visualizations
    .col-md-4
      a(href="/fy2016-okc-budget-tree.html")
        h3 Fiscal Year 2016 Budget
        img.img-responsive(src="/images/fy2016-tree-thumb.png")
    .col-md-4
      a(href="/budget-process.html")
        h3 OKC Budget Process Timeline
        img.img-responsive(src="/images/fy2017-timeline-thumb.png")
    .col-md-4
     a(href="/budget-radar.html")
       h3 Radar View
       img.img-responsive(src="/images/radar_screen_thumb.png")

//  .row
//    .col-md-4
//      a(href="/2012-2013-sankey.html")
//        h3 2012-13 Adopted Revenues &amp; Spending
//        img.img-responsive(src="/images/old-sankey-thumb.png")

//    .col-md-4
//      a(href="/2011-2013-adopted-budget.html")
//        h3 2011-13 Adopted Spending (Treemap)
//        img.img-responsive(src="/images/old-treemap-thumb.png")
