.container
  .row
    .col-md-12
      h1 Oakland Budget Visualizations

  .row
    .col-md-4
      a(href="/2014-15-budget-tree.html")
        h3 Detailed Breakdown: 2014-15 Budget
        img.img-responsive(src="/images/treemap-thumb.png")

//    .col-md-4
//      a(href="/2012-2013-sankey.html")
//        h3 2012-13 Adopted Revenues &amp; Spending
//        img.img-responsive(src="/images/old-sankey-thumb.png")

//    .col-md-4
//      a(href="/2011-2013-adopted-budget.html")
//        h3 2011-13 Adopted Spending (Treemap)
//        img.img-responsive(src="/images/old-treemap-thumb.png")
