.container
  .row
    .col-md-12
      h1 Grand Rapids Budget Visualizations

      .row
        .col-md-6
          a(href="/2018-GRprelim-flow.html")
            h3 Cash Flow: FY2018
            img.img-responsive(src="/images/flow-thumb-1517.jpg")

        .col-md-6
          a(href="/2018-GRprelim-tree.html")
            h3 Detailed View: FY2018
            img.img-responsive(src="/images/tree-thumb-1517.jpg")

       .row
         .col-md-6
           a(href="/2017-final-budget-flow.html")
             h3 Cash Flow: FY2017
             img.img-responsive(src="/images/flow-thumb-1517.jpg")

         .col-md-6
           a(href="/2017-final-budget-tree.html")
             h3 Detailed View: FY2017
             img.img-responsive(src="/images/tree-thumb-1517.jpg")
