.container
  .row
    .col-md-12
      h1 Grand Rapids Budget Visualizations

      .row
        .col-md-6
          a(href="/2019-final-budget-flow.html")
            h3 Cash Flow: Final FY2019
            p Understand the big picture: where money comes from, and where it goes.
            img.img-responsive(src="/images/flow-thumb-1517.jpg")

        .col-md-6
          a(href="/2019-final-budget-tree.html")
            h3 Detailed View: Final FY2019
            p Drill down into detailed spending and revenue data for each department.
            img.img-responsive(src="/images/tree.jpg")

      .row
        .col-md-6
          a(href="/2018-final-budget-flow.html")
            h3 Cash Flow: FY2018
            img.img-responsive(src="/images/flow-thumb-1517.jpg")

        .col-md-6
          a(href="/gr-final-budget-tree.html")
            h3 Detailed View: Final FY2018 & FY2017
            img.img-responsive(src="/images/tree.jpg")

       .row
         .col-md-6
           a(href="/2017-final-budget-flow.html")
             h3 Cash Flow: FY2017
             img.img-responsive(src="/images/flow-thumb-1517.jpg")

         .col-md-6
           a(href="/2017-final-budget-tree.html")
             h3 Detailed View: FY2017
             img.img-responsive(src="/images/tree.jpg")
