.container

block title
  h1 Budget Comparison Tool

  p
  |Open Budget: Grand Rapids is still awaiting 2018 budget data from the City of Grand Rapids. In 2016, the City partnered with Citizen Labs to create and promote this website to increase understanding and provide transparency in our city government. Once we have 2018 budget data we will be able to provide the comparison tool.

<div data-type="countup" data-id="25539" class="tickcounter" style="width: 100%; position: relative; padding-bottom: 25%"><a href="//www.tickcounter.com/countup/25539/since-2017-grand-rapids-budget-approved" title="Since 2017 Grand Rapids Budget Approved">Since 2017 Grand Rapids Budget Approved</a><a href="//www.tickcounter.com/countup" title="Countup">Countup</a></div><script>(function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script>

  #root

script(src="js/dist/compare.bundle.js")
