extends partials/layout

prepend pageTitle
  - var title = "Compare Budgets Side By Side"

block bodyClass
  - var slug = "compare"

block content
  .container
    #root
  //- get app bundled by Webpack
  script(src="/js/dist/compare.bundle.js") 