.container
  .row
    .col-md-9
      h2.subheader Compare Budgets
      p
        | Open Budget: Grand Rapids is still awaiting 2018 budget data from the City of Grand Rapids. In 2016, the City partnered with Citizen Labs to create and promote this website to increase understanding and provide transparency in our city government. Once we have 2018 budget data we will be able to provide the comparison tool.

  #root

script(src="js/dist/compare.bundle.js")
