


.container
  .row
    .col-md-8
      //- h2.subheader Explore Oakland's budget.
      div
        h2.subheader Get in touch
        p open.budget.oakland [at] gmail.com
        p
          a(href='https://twitter.com/openbudgetOAK') @openbudgetOAK
          |  |
          a(href='https://twitter.com/search/realtime?q=%23OAKbudget&src=typd') #OAKbudget
        p
          a(href='https://www.facebook.com/openbudgetoak')
            | facebook.com/openbudgetoak
            a
        //
           Begin MailChimp Signup Form
        #mc_embed_signup
          form#mc-embedded-subscribe-form.validate(action='http://openbudgetoakland.us4.list-manage1.com/subscribe/post?u=da3f17d6a30577b862cb7bc83&id=d03ff0835e', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
            .form-group
              label(for='mce-EMAIL') Subscribe to our mailing list:
              .row
                .col-md-6
                  input#mce-EMAIL.email.form-control(type='email', value='', name='EMAIL', placeholder='Email', required='required')

            input#mc-embedded-subscribe.btn.btn-primary(type='submit', value='Subscribe', name='subscribe')
        //
          End mc_embed_signup
