.container
  .row
    .col-md-9
      div
        h2 Discuss
        p
          a(href='contact.html') Help us
          |  install
          a(href='http://www.discourse.org/') Discourse
          | , an open-source discussion platform (
          a(href='https://github.com/discourse/discourse') source code
          | ).
