.container

  .row
    .col-md-8.col-sm-6
      div
        h2.subheader How would you use Open Budget?
        p
          | We're trying to build a tool that's useful to all of Oakland — community advocates, journalists, city officials, and the people they serve. We want your ideas.
          p
            | What part of the budget should be visualized, and how? What budget data should be accessible, and why? Who should be part of this discussion?
            p
              | Add your ideas — and vote on others — in the comments below. The most popular ideas will help guide the development of Open Budget.
    .col-md-4.col-sm-6
      #wufoo-za3gq4n1oevxis
        | Fill out my
        a(href='https://openbudgetoakland.wufoo.com/forms/za3gq4n1oevxis') online form
        | .
      script(type='text/javascript').
        var za3gq4n1oevxis;(function(d, t) {
        var s = d.createElement(t), options = {
        'userName':'openbudgetoakland',
        'formHash':'za3gq4n1oevxis',
        'autoResize':true,
        'height':'377',
        'async':true,
        'host':'wufoo.com',
        'header':'show',
        'ssl':true};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { za3gq4n1oevxis = new WufooForm();za3gq4n1oevxis.initialize(options);za3gq4n1oevxis.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');



      //-#disqus_thread

// DISQUS script
script(type='text/javascript').
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'openbudgetoakland'; // required: replace example with your forum shortname
  var disqus_identifier = 'Open Budget: Oakland feedback';
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
noscript
  | Please enable JavaScript to view the
  a(href='http://disqus.com/?ref_noscript') comments powered by Disqus.
