.container

  .row
    .col-md-8.col-sm-6
      div
        h2.subheader How would you use Open Budget?
        p
          | We're trying to build a tool that's useful to all of OKC — community advocates, journalists, city officials, and the people they serve. 
          br
        h2.subheader
          | We want your ideas!
          br
        p
          br
          | What part of the budget should be visualized, and how? 
          br
          | What budget data should be accessible, and why? 
          br
          | Who should be part of this discussion?
        p
          | Add your ideas — and vote on others — in the comments below. 
          br
          | The most popular ideas will help guide the development of Open Budget: OKC.
        p
          | Please let us know at: codeforokc@gmail.com

