extends partials/layout

prepend pageTitle
  - var title = "Feedback"

block bodyClass
  - var slug = "feedback"

block content
  .container

    .row
      .col-md-8.col-sm-12
        div
          h2.subheader How would you use Open Budget?
        .iframe-container.iframe-container-form-contact
          iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSezuIPmKyJ_Knayg9zd3VEcl5h1wZQWlevT23_zlLYYXfvCtQ/viewform?embedded=true" scrolling="no" onLoad="window.parent.scroll(0,0);").iframe-form-generic Loading&hellip;

