extends templates/flow-template.jade

block title
	h2 Cash Flow: Test!

block datasource
	h6 Data source: The Internets

block disqus_config
	script(type="text/javascript").
		var disqus_identifier = "cash-flow-viz";