.container

  .row
    .col-md-9
      div
        h2.subheader Grand Rapids Budget 101

        ul.disc
          li
            a(href='http://grcity.us/fiscal-services/Pages/Budget-Office.aspx') Grand Rapids Budget Office
          li
            a(href='http://grandrapidscitymi.iqm2.com/Citizens/Board/1017-Fiscal-Committee') Fiscal Committee
          li
            a(href='http://grcity.us/fiscal-services/Documents/City%20of%20GR%20Prelim%20Fiscal%20Plan%20FY%202018-2022%20FINAL.pdf') FY2018 Preliminary Fiscal Plan
          li
            a(href='https://accessmygov.com/MunicipalDashboard/Performance?uid=115') City Performance Dashboard

  //
     Included JS Files (Uncompressed)
  //
      <script src="javascripts/jquery.js"></script><script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script><script src="javascripts/jquery.foundation.forms.js"></script><script src="javascripts/jquery.foundation.reveal.js"></script><script src="javascripts/jquery.foundation.orbit.js"></script><script src="javascripts/jquery.foundation.navigation.js"></script><script src="javascripts/jquery.foundation.buttons.js"></script><script src="javascripts/jquery.foundation.tabs.js"></script><script src="javascripts/jquery.foundation.tooltips.js"></script><script src="javascripts/jquery.foundation.accordion.js"></script><script src="javascripts/jquery.placeholder.js"></script><script src="javascripts/jquery.foundation.alerts.js"></script><script src="javascripts/jquery.foundation.topbar.js"></script><script src="javascripts/jquery.foundation.joyride.js"></script><script src="javascripts/jquery.foundation.clearing.js"></script><script src="js/jquery.foundation.magellan.js"></script>

  //
     Included JS Files (Compressed)
  script(src='/js/old/jquery.js')
  script(src='/js/old/foundation.min.js')
  //
     Initialize JS Plugins
  script(src='/js/old/app.js')
