.container

  .row
    .col-md-9
      div
        h2.subheader Grand Rapids Budget 101

      p External links to the City of Grand Rapids:

        ul.disc
          li
            a(href='https://www.grandrapidsmi.gov/Government/Departments/Budget-Office', target='_blank') Grand Rapids Budget Office
          li
            a(href='https://www.grandrapidsmi.gov/Government/Departments/Fiscal-Services', target='_blank') Fiscal Committee
          li
            a(href='https://www.grandrapidsmi.gov/files/assets/public/departments/fiscal-budget/budget-office/fy-2018-final-fiscal-plan.pdf', target='_blank') FY2018 Final Fiscal Plan (PDF, 7MB)
          li
            a(href='http://grdata-grandrapids.opendata.arcgis.com/datasets?group_ids=a3f3d3bba92f46599849a951acbb65a5', target='_blank') Budget data from the City of Grand Rapids

  //
     Included JS Files (Uncompressed)
  //
      <script src="javascripts/jquery.js"></script><script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script><script src="javascripts/jquery.foundation.forms.js"></script><script src="javascripts/jquery.foundation.reveal.js"></script><script src="javascripts/jquery.foundation.orbit.js"></script><script src="javascripts/jquery.foundation.navigation.js"></script><script src="javascripts/jquery.foundation.buttons.js"></script><script src="javascripts/jquery.foundation.tabs.js"></script><script src="javascripts/jquery.foundation.tooltips.js"></script><script src="javascripts/jquery.foundation.accordion.js"></script><script src="javascripts/jquery.placeholder.js"></script><script src="javascripts/jquery.foundation.alerts.js"></script><script src="javascripts/jquery.foundation.topbar.js"></script><script src="javascripts/jquery.foundation.joyride.js"></script><script src="javascripts/jquery.foundation.clearing.js"></script><script src="js/jquery.foundation.magellan.js"></script>

  //
     Included JS Files (Compressed)
  script(src='/js/old/jquery.js')
  script(src='/js/old/foundation.min.js')
  //
     Initialize JS Plugins
  script(src='/js/old/app.js')
