section.container

  h1.lead Follow the money.
  p.lead Open Budget: Oakland takes current and past budget data published by the City of Oakland and transforms them into accessible visualizations. Our aim is to enable community members to examine their city's budget for themselves. Those who want to dig even deeper into the budget data may be interested in using the #[a(href='https://github.com/openoakland/openbudgetoakland/wiki/API-Documentation') Open Budget: Oakland API].
  //- See Oakland's #[a(href='/budget-visuals.html') previous budgets], as well as the city's #[a(href='https://www.oaklandca.gov/documents/fiscal-year-2019-20-to-2023-24-five-year-financial-forecast' target='_blank') five-year forecast].

  .row.main
    .col-sm-4.left-col
      a(href='/images/home/measurez.pdf' target='_blank')
        h3.blurb_title Focus on Measure Z*: How does Oakland fund violence prevention?
      a(href='/images/home/measurez.pdf' target='_blank')
        img.img-responsive.thumbnail(src="/images/home/measureZ12.png" alt="Does our city's budget reflect our commitment to violence prevention?")
      details
        summary Analysis: Does the Measure Z budget reflect a good strategy for violence prevention?
        a(href='/images/home/measureZ3.pdf')
          img.img-responsive.thumbnail(src="/images/home/measureZ3.png" alt="Analysis of Measure Z strategy")
      a(href='https://docs.google.com/document/d/1nJBEkue4MVvIjrMx1yZESroX6pLeky7N7A0_lTVpzP4/edit' target='_blank')
        p *Measure Z resources (compiled by Open Budget: Oakland)
      p
      .well
        h3.blurb__title Reimagining Public Safety
        p The City Council unanimously voted on July 28, 2020 to create #[a(href='https://www.sfchronicle.com/opinion/openforum/article/Oakland-lays-groundwork-to-liberate-city-from-15447742.php') The Re-imagining Public Safety Task Force]. The task force will study the diversion of funds from enforcement and punishment to prevention and wellness in the next budget cycle.

      //- p
        h3.blurb__title Did you know&hellip;
        p you can create your own visualizations with our free #[a(href='https://github.com/openoakland/openbudgetoakland/wiki/API-Documentation') Open Budget Oakland API]?

      //-p
        a.twitter-timeline(height=700, href='https://twitter.com/search?q=%23OAKbudget', data-widget-id='324560527676276736') Tweets about "#OAKbudget"
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


    .col-md-8

      p.intro We have a suite of data visualization tools to help you understand Oakland's budget.
      a(href="/2019-21-adopted-budget-flow.html")
        section
          h2 Overview
          p Get a bird's eye view of the big picture for a single year: where money comes from, and where it goes.
          img.img-responsive.thumbnail(src="/images/home/2020-flow-thumb.png" alt="Our flow chart shows where the money comes from and where it goes. Are the things you care about underfunded? Find out!")

      a(href="/compare.html")
        section
          h2 Comparison
          p Put two budgets head-to-head. How much did the budget grow or shrink? How are cuts and increases distributed across spending categories? How did revenue sources change?
          img.img-responsive.thumbnail(src="/images/home/compare-thumb.jpg" alt="Our comparison tool lets you compare two Oakland city budgets.")

      a(href="/2019-21-adopted-budget-tree.html")
        section
          h2 Detail
          p Drill down into detailed spending and revenue data for each department and fund for a single year.
          img.img-responsive.thumbnail(src="/images/home/tree-thumb.jpg" alt="Our drill-down tool lets you examine Oakland city spending and revenue in detail.")

      a(href="/budget-process.html")
        section
          h2 Timeline
          p Orient yourself within the two-year cycle of Oakland's budget process.
          img.img-responsive.thumbnail(src="/images/home/timeline-thumb.png" alt="Our timeline shows important events coming up in the budget process.")

