

section.hero-unit
  .container
    h1.main-header The Mayor's 2015-17 Proposed Budget
    .row
      .col-md-6
        p.lead The mayor's proposed budget was <a href='/budget-process.html#5' title="Timeline: Proposed Budget Released">released April 30</a> and will be debated by the public and City Council until the Council <a href='/budget-process.html#12' title="Timeline: Council Budget Adoption">adopts a final budget by June 30</a>. Open Budget will publish visualizations that allow the public to explore the budget soon after we receive data from the city. See Oakland's <a href='/budget-visuals.html'>current budget</a>, as well as Oakland’s <a href='https://magic.piktochart.com/output/5111124-oakland-5-year-forecast-16-20-' target='_blank'>five-year forecast</a>.

      .col-md-6
       .alert.alert-info.helpBox
         h2 Want to compare budget proposals?
         p Help us get the data! Encourage your council member to use <a href="http://speakupoakland.org/forums/improve-engagement-around-the-city-budget/ideas/apples-to-apples-help-us-build-a-tool-to-compare-budget-proposals">the Open Budget Proposal Template</a>, a standard format to share budget proposal data that would allow side-by-side comparison of Oakland's budget options for the first time. 
         p <a href="https://twitter.com/intent/tweet?text=Council Members, let's compare budgets! Use the Open Budget Proposal Template: &hashtags=oakbudget,openbudget &url=http://speakupoakland.org/forums/improve-engagement-around-the-city-budget/ideas/apples-to-apples-help-us-build-a-tool-to-compare-budget-proposals">Tweet your council members here.</a>

    .row
      .col-md-4
        a(href="/budget-process.html")
          h3 You Are Here
          p A timeline of Oakland's budget process. <br/>&nbsp;
          img.img-responsive.thumbnail(src="/images/thumbnail-timeline.png")

      .col-md-4
        a(href="/2015-17-proposed-budget-flow.html")
          h3 Cash Flow
          p Understand the big picture: where money comes from, and where it goes.
          img.img-responsive.thumbnail(src="/images/flow-thumb-1517.jpg")

      .col-md-4
        h3 Detailed Breakdown
        p Drill down into detailed spending and revenue data for each department.
        img.img-responsive.thumbnail(src="/images/treemap-thumb-coming-soon.png")

section.container
  .col-md-4
    h3 Budget Calendar: Key Dates
    dl.dl-horizontal
      dt April 30, 2015
      dd Mayor's proposed policy budget released
      dt May 1 – June 10, 2015
      dd Budget town hall meetings and community input
      dt June 1, 2015
      dd Budget Advisory Committee report
      dt June 17, 2015
      dd City Council president's proposed budget
      dt June 30, 2015
      dd City Council budget adoption
  .col-md-5
    <iframe width='100%' height='520' frameborder='0' src='https://lauraginfo.cartodb.com/viz/913f4dcc-eeb3-11e4-9084-0e49835281d6/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

  .col-md-3
    p
      a.twitter-timeline(href='https://twitter.com/search?q=%23OAKbudget', data-widget-id='324560527676276736') Tweets about "#OAKbudget"
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
section.container

//- .container
//-   .row
//-     .col-md-8
//-       h1 Mayor's Proposed Spending for 2013-15 (Version 2)
//-       img(class="img-responsive img-default", src="/images/13-15v2-thumb.png")
//-       p
//-         | As we await data for the FY 2013-15 Adopted Budget, we've moved into research mode. Our first round of usability testing is complete and we're now working on improvements based on people's feedback. Here's a preview. We still want to hear from you -- community advocates, coders, journalists, city staff. Get in touch to take the test and/or join us on Tuesdays, 6:30 p.m. at City Hall, hearing room 3.

//-     .col-md-4
//-       //- 2nd column

//-       //- Lockerz Share BEGIN
//-       .a2a_kit.a2a_default_style(style='text-align: right;')
//-         a(href='https://twitter.com/openbudgetOAK', target='_blank')
//-           img(src='/images/twitter.png', height='20', width='20')
//-         a(href='https://www.facebook.com/openbudgetoak', target='_blank')
//-           img(src='/images/facebook.png', height='20', width='20')
//-         a(href='https://github.com/openoakland/openbudgetoakland/tree/gh-pages', target='_blank')
//-           img(src='/images/github-logo.png', height='20', width='20')
//-         a.a2a_dd(href='http://www.addtoany.com/share_save') Share
//-         script(type='text/javascript', src='http://static.addtoany.com/menu/page.js').
//-         p
//-       //- Lockerz Share END



//-       p
//-         a.twitter-timeline(href='https://twitter.com/search?q=%23OAKbudget', data-widget-id='324560527676276736') Tweets about "#OAKbudget"
//-           script.
//-             !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


//-       h2.h3
//-         | Open Budget Presented to Mayor, City Council
//-       img(class="img-responsive img-default", src='/images/open_budget_city_council.jpg')
//-       p.caption
//-         | Shawn McDougal explains the mission of Open Budget, April 30, 2013 (Photo: Sonya Rifkin)

//-       //- end 2nd column
