section.jumbotron.homesplash
  .container
    h1.main-header.homesplash__head Mayor's New Budget Proposed: What's Going to Change?
    .row
      .col-sm-12
        p.lead.homesplash__text Our new Compare tool lets you put two budgets head-to-head. How much did the budget grow or shrink? How are cuts and increases distributed across spending categories? How did revenue sources change? Answers to these questions and more are now at your fingertips.

        p.lead.text-center
          a.btn.btn-primary.btn-lg(href="/compare.html") Go there now
  .homesplash__photocredit Photo: #[a(href="https://flic.kr/p/zjBVDh") flickr/Jaegar Moore] (#[a(href="https://creativecommons.org/licenses/by-nc/2.0/") CC BY-NC 2.0])

section.container
  .row
    .col-sm-4.left-col
      p.lead Open Budget: Grand Rapids visualizes the city's current and past budget data into accessible charts for the public. Data is published by the city. See Grand Rapids's #[a(href='/budget-visuals.html') previous budgets], as well as the city's #[a(href='https://magic.piktochart.com/output/5111124-oakland-5-year-forecast-16-20-' target='_blank') five-year forecast].

      .well
        h3.blurb__title Mayor's 2017-19 Proposed Budget
        p The mayor's proposed policy budget for the next two years was released May 1. City Councilmembers have #[a(href="https://beta.oaklandca.gov/events?q=budget" target="_blank") a series of public forums] planned in advance of their June 30 deadline to adopt a final budget.

      p
      a.twitter-timeline(height=700, href='https://twitter.com/search?q=%23OAKbudget', data-widget-id='324560527676276736') Tweets about "#OAKbudget"
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


    .col-md-8
      a(href="/2017-19-proposed-budget-flow.html")
        h3 Cash Flow
        p Understand the big picture: where money comes from, and where it goes.
        img.img-responsive.thumbnail(src="/images/flow-thumb-1517.jpg")

      a(href="/2017-19-proposed-budget-tree.html")
        h3 Detailed Breakdown
        p Drill down into detailed spending and revenue data for each department.
        img.img-responsive.thumbnail(src="/images/tree-thumb-1517.jpg")

      a(href="/budget-process.html")
        h3 You Are Here
        p A timeline of Grand Rapids's budget process.
        img.img-responsive.thumbnail(src="/images/thumbnail-timeline.png")
