

section.hero-unit
  .container
    h1.main-header 2014-15 Budget
    .row
      .col-md-6
        p.lead <a href="/2014-15-budget-tree.html">Here's the budget for expenses.</a>

      .col-md-6
       .alert.alert-info.helpBox
         h2 Other stuff could go here!
         p Maybe some day...
