section.jumbotron.homesplash
  .container
    h1.main-header.homesplash__head Beta - The New 2018 Budget: What Changed from 2017?
    .row
      .col-sm-12
        p.lead.homesplash__text Our new Compare tool lets you put two budgets head-to-head. How much did the budget grow or shrink? How are cuts and increases distributed across spending categories? How did revenue sources change? Answers to these questions and more are now at your fingertips.

        p.lead.text-center
          a.btn.btn-primary.btn-lg(href="/compare.html") Go there now
  .homesplash__photocredit Photo: #[a(href="https://flic.kr/p/zjBVDh") flickr/Jaegar Moore] (#[a(href="https://creativecommons.org/licenses/by-nc/2.0/") CC BY-NC 2.0])

section.container
  .row
    .col-sm-4.left-col
      p.lead Open Budget: Grand Rapids visualizes the city's current and past budget data into accessible charts for the public. Data is published by the city. See Grand Rapids's #[a(href='/budget-visuals.html') previous budgets].

      .well
        h3.blurb__title 2018 Final Budget
        p The 2018 budget was approved unanimously by the City Commission on June 13. We are still awaiting budget data from the City in a format that can be used to update this website.

      p
      a.twitter-timeline(height=700, href='https://twitter.com/hashtag/GRbudget', data-widget-id='881905820304384000') Tweets about "#GRbudget"
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


    .col-md-8
      a(href="/2017-final-budget-flow.html")
        h3 Cash Flow
        p Understand the big picture: where money comes from, and where it goes.
        img.img-responsive.thumbnail(src="/images/flow-thumb-1517.jpg")

      a(href="/2017-final-budget-tree.html")
        h3 Detailed Breakdown
        p Drill down into detailed spending and revenue data for each department.
        img.img-responsive.thumbnail(src="/images/tree-thumb-1517.jpg")

      a(href="/budget-process.html")
        h3 You Are Here
        p A timeline of Grand Rapids's budget process.
        img.img-responsive.thumbnail(src="/images/thumbnail-timeline.png")
