section.jumbotron.homesplash
  .container
    h1.main-header.homesplash__head The City of Grand Rapids Budget
    .row
      .col-sm-12
        p.lead.homesplash__text #[a(href="https://citizenlabs.org/") Citizen Labs] used data from the city's open data portal to visualize where the money comes from and how it's spent. 


section.container
  .row
    .col-sm-4.left-col
      h3 How The Budget Is Created
      p.lead July 1 of every year marks the beginning of a new Fiscal Year for the City of Grand Rapids. Learn about the steps taken prior to approval and how spending priorities are made.

      a.btn.btn-info( href="/budget-process.html" ) Launch App
      p.

    .col-md-8
      a(href="/budget-process.html")
        img.img-responsive.thumbnail(src="/images/thumbnail-timeline.jpg")

  .row
    p.
    .col-sm-4.left-col
      h3 Cash Flow Overview
      p.lead Understand the big picture: where money comes from and where it goes.

      a.btn.btn-info( href="/final-budget-flow.html" ) Launch App
      p.

    .col-md-8
      a(href="/final-budget-flow.html")
        img.img-responsive.thumbnail(src="/images/flow-thumb-1517.jpg")

  .row
    p.
    .col-sm-4.left-col
      h3 Detailed Breakdown
      p.lead Drill down into detailed spending and revenue data for each department and fund for a single year.

      a.btn.btn-info( href="/final-budget-tree.html" ) Launch App
      p.

    .col-md-8
      a(href="/final-budget-tree.html")
        img.img-responsive.thumbnail(src="/images/tree.jpg")
