.container

  .row
    .col-md-9
      div
        h2.subheader News
        p
          a(href='http://blogs.kqed.org/newsfix/2013/05/28/bay-area-participatory-budgeting', target='_blank') KQED: In Vallejo, Citizens Directly Choosing Projects to Fund
        p
          | "Adam Stiles of Open Budget: Oakland, which creates online resources to help people make sense of city spending, said the group's new visualization tools, also known as 'civic hacking,' help translate between city officials and the community. 'What we are trying to do is create a platform where people can easily understand the budget,' Stiles said. 'Then, based on what they see, have a more informed discussion about it and then find out how to get more involved and participate in the budget process.'"
          a(href='http://blogs.kqed.org/newsfix/2013/05/28/bay-area-participatory-budgeting', target='_blank') Read more.
          p
            a(href='http://codeforamerica.org/2013/05/14/10-ways-civic-hacking-is-good-for-cities', target='_blank') Code for America: Ten Ways Civic Hacking is Good for Cities
            p
              a(href='http://www.eastbayexpress.com/SevenDays/archives/2013/04/30/hacking-oaklands-budget', target='_blank') East Bay Express: Hacking Oakland's Budget
              p
                a(href='http://blog.okfn.org/2013/04/29/open-budget-oakland-and-openspending/', target='_blank') OKFN: From Hackathon to Civic Collaboration
                p
                  a(href='http://www.oaklandrising.org/blog/our-town-our-budget-what-does-public-safety-really-look', target='_blank') Oakland Rising: Our Town, Our Budget: What Does Public Safety Really Look Like?
                  p
                    a(href='http://openoakland.org/opening-oaklands-budget', target='_blank') OpenOakland: Opening Oakland’s Budget
                    p
                      a(href='http://techpresident.com/news/23749/oakland-gets-new-data-visualization-site-its-budget', target='_blank') Tech President: Oakland Gets A New Data Visualization Site for Its Budget
