.container

  .row
    .col-md-9
      div
        h2.subheader News
        p
          a(href='https://www.oaklandca.gov/projects/fy-2019-2020-budget-process-1') City of Oakland's Fiscal Year 2019-2021 Budget
          p
            a(href='https://www.govtech.com/budget-finance/The-Disruption-Pipeline-Government-Citizen-Relationships.html') Government Technology: Disruptive Technology that Could Transform Government-Citizen Relationships
          p
            | "In Oakland, Calif., OpenOakland, a civic-tech innovation brigade from Code for America, has developed a visualization tool called Open Budget to allow the public to explore the city budget. A conversation feature lets users ask questions and discuss every line item of the city budget."
            a(href='https://www.govtech.com/budget-finance/The-Disruption-Pipeline-Government-Citizen-Relationships.html') Read more.
              p
                a(href='https://www.kalw.org/post/volunteers-hack-technology-improve-oakland-city-government') KALW: Volunteers hack technology to improve Oakland city government
                p          
                  a(href='https://www.eastbayexpress.com/SevenDays/archives/2013/04/30/hacking-oaklands-budget') East Bay Express: Hacking Oakland's Budget
                  p
                    a(href='https://blog.okfn.org/2013/04/29/open-budget-oakland-and-openspending/') OKFN: From Hackathon to Civic Collaboration
                    p
                      a(href='https://www.oaklandrising.org/blog/our-town-our-budget-what-does-public-safety-really-look') Oakland Rising: Our Town, Our Budget: What Does Public Safety Really Look Like?
                      p
                        a(href='http://techpresident.com/news/23749/oakland-gets-new-data-visualization-site-its-budget') Tech President: Oakland Gets A New Data Visualization Site for Its Budget
