extends partials/layout

prepend pageTitle
  - var title = "Oakland Budget Basics"

block bodyClass
  - var slug = "resources"

block content
  .container

    .row
      .col-md-9
        div
          h2.subheader Oakland Budget Basics
          p
            | Soon, we'll relaunch this page as a wiki so people can more easily contribute. For now, 
            a(href='/contact') send us links
            | .
          ul.disc
            li
              a(href='http://oaklandwiki.org/2013_Budget_Discussion') 2013 Budget Discussion
              li
                a(href='http://oaklandwiki.org/Budget_Process_Transparency_Ordinance') Budget Process Transparency Ordinance
                li
                  a(href='https://p2pu.org/en/groups/open-oakland/content/oakland-city-budget-101/') OpenOakland's City Budget 101 (in progress)
                li
                  a(href='http://www2.oaklandnet.com/Government/o/CityAdministration/d/BudgetOffice/index.htm') Budget Office
                li
                  a(href='http://www2.oaklandnet.com/Government/o/CityAdministration/d/BudgetOffice/DOWD005079') Budget Process
                li
                  a(href='http://www2.oaklandnet.com/Government/o/CityAdministration/d/BudgetOffice/o/BudgetAdvisoryCommittee/index.htm') Budget Advisory Committee
                  li
                    a(href='https://oakland.mindmixer.com/oakland-budget-prioritization') Oakland Budget Prioritization
                    | : How would you allocate the City's General Fund budget?