!!! 5
html
  meta(charset='utf-8')
  head
    title Zoomable Treemap
    style.
      #treemap{
      display: block;
      max-width: 100%;
      margin: auto;
      }
      #table {
      display: block;
      max-width: 100%;
      margin: auto;
      }
      #tooltip p {
      margin: 0px;
      padding: 0px;
      }
      .amount {
      padding: 0px;
      margin: 0px;
      font-size: medium;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      }
      .name {
      padding: 0px;
      margin: 0px;
      font-size: small ;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      }
      #spacer {
      height: 30px;
      }
  body
    .container
      #treemap
      #chart
      #spacer
      #table
      script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
      script(src='/js/palette.js', charset='utf-8')
      script(src='/js/source.js', charset='utf-8')
      script(src='/js/data.js', charset='utf-8')
      script(src='/js/treemap.js', charset='utf-8')
      script(src='/js/spreadsheet.js', charset='utf-8')
      script(src='/js/tooltip.js', charset='utf-8')
      script(src='/js/budget-treemap.js', charset='utf-8')
      script.
        /* Budget data is stored in google's fusion tables.  Here we store
        * specific data to acess the api, and table were interested in.
        * The hierarchy is used in the SQL query to the fusion table as well
        * as in the data crunching portion */
        var fusion = {
          api_key: 'AIzaSyCnWo1USrkSKnN6oy02tNeWfg6aFSg0OI8',
          table: '1oyPo17KGRieebxtPZ-PoBItbHLrAE42h29n17pvD',
          title: 'Public Adopted 2013-2014',
          hierarchy: [
            'Fund Description',
            'Department',
            'Division',
            'Account Category'
          ]
        };

        /* create the url into the fusion table api to load the budget
        * data */
        url = ob.fusion(fusion.api_key, fusion.table).url(fusion.hierarchy, 'Amount');

        ob.display.budget_treemap()
          .width(1100)
          .height(600)
          .count(40)
          .palette([
            "#FF0000",
            "#00FF00",
            "#0000FF"
          ])
          .spreadsheet("#table")
          .treemap("#treemap")
          .url(url)
          .create();

