doctype html
html
  meta(charset='utf-8')
  head
    title Zoomable Treemap
    style.
      #treemap{
      display: block;
      max-width: 100%;
      margin: auto;
      }
      #table {
      display: block;
      max-width: 100%;
      margin: auto;
      }
      #tooltip p {
      margin: 0px;
      padding: 0px;
      }
      .amount {
      padding: 0px;
      margin: 0px;
      font-size: medium;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      }
      .name {
      padding: 0px;
      margin: 0px;
      font-size: small ;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      }
      #spacer {
        height: 30px;
      }

  body
    .container
      div#dropdown
      #treemap
      #chart
      #spacer
      #table
      script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
      script(src='/js/palette.js', charset='utf-8')
      script(src='/js/source.js', charset='utf-8')
      script(src='/js/data.js', charset='utf-8')
      script(src='/js/treemap.js', charset='utf-8')
      script(src='/js/spreadsheet.js', charset='utf-8')
      script(src='/js/tooltip.js', charset='utf-8')
      script(src='/js/budget-treemap.js', charset='utf-8')
      script.

        var config = {
          dropdown_values: {
            "Year": ["FY13-14", "FY14-15"],
            "Account": ["Revenue", "Expense"]
          },
          dropdown_choice: {
            "Year": "FY14-15",
            "Account": "Expense"
          },
          url: function() {
            var x = 'data/2013-2015-public-adopted/' + this.dropdown_choice["Account"] + "." + this.dropdown_choice["Year"] + ".json";
            return x;
          }
        };

        function _parse_hash(hash) {
          var hash_array = hash.split(".");
          if (hash_array.length) {
            var x = hash_array.shift();
            if (config.dropdown_values["Year"].indexOf(x) > -1) {
              config.dropdown_choice["Year"] = x;
            }
          }
          if (hash_array.length) {
            var x = hash_array.shift();
            if (config.dropdown_values["Account"].indexOf(x) > -1) {
              config.dropdown_choice["Account"] = x;
            }
          }
          return hash_array.join(".");
        }

        function _load_hash() {
          var hash = window.location.hash.replace("#", "");
          _parse_hash(hash);
        }

        _load_hash();

        /* get width of container */
        var parent = d3.select(".container");
        var width = parent.node().offsetWidth - parseInt(parent.style("padding-left")) - parseInt(parent.style("padding-right"));


        /* create display */
        ob.display.budget_treemap()
          .width(width)
          .height(600)
          .count(40)
          .config(config)
          .dropdown("#dropdown")
          .spreadsheet("#table")
          .treemap("#treemap")
          .on("set_hash", function(hash) {
            /* add year and account to hash for linking */
            var prefix = config.dropdown_choice["Year"] + "." + config.dropdown_choice["Account"];
            return hash.length ? prefix + "." + hash : prefix;
          })
          .on("get_hash", function(hash) { return _parse_hash(hash); })
          .url(config.url())
          .create();

