.container

  .row
    .col-md-9
      div
        h2.subheader Tools and Projects
        p
          | Here are resources that have helped or inspired our work so far. Soon, we'll relaunch this page as a wiki so people can more easily contribute. For now, 
          a(href='contact.html') send us links
          | . As you explore the list below and see how others are making budgets more accessible, feel free to 
          a(href='feedback.html') suggest features
          |  for Open Budget.
        h3.subheader
          | Budget visualization resources
        ul.disc
          li
            a(href='http://www.openspending.org', target='_blank') OpenSpending
          li
            a(href='http://d3js.org/', target='_blank') D3
          li
            a(href='http://www.peterkrantz.com/2012/data-visualization-tools/', target='_blank') Peter Krantz
          li
            a(href='http://vallandingham.me/vis/', target='_blank') Jim Vallandingham
        h3.subheader
          | Budget data resources
        ul.disc
          li
            a(href='http://openspending.org/resources/handbook/ch001_introduction.html', target='_blank') Spending Data Handbook
          li
            a(href='http://openspending.org/resources/standard/', target='_blank') A data standard for transaction-level spending data
        h3.subheader
          | Budget visualization examples
        h4.subheader Cities
        ul.disc
          li
            a(href='http://www.comptroller.nyc.gov/mymoneynyc/', target='_blank') My Money NYC
          li
            a(href='http://www.checkbooknyc.com/', target='_blank') Checkbook NYC
          li
            a(href='http://paloalto.delphi.us', target='_blank') Palo Alto
          li
            a(href='http://www.interislandterminal.org/assets/scripts/viz/hnlbudget/sankey.html', target='_blank') Honolulu
          li
            a(href='http://www.berlin.de/sen/finanzen/haushalt/haushaltsplan/artikel.5697.php', target='_blank') Berlin
          li
            a(href='http://budget.brettmandel.com', target='_blank') Philadelphia
          li
            a(href='http://longbeach.budgetchallenge.org/pages/overview', target='_blank') Long Beach
        h4.subheader Counties
        ul.disc
          li
            a(href='http://lookatcook.com/', target='_blank') Look at Cook
        h4.subheader States
        ul.disc
          li
            a(href='http://www.budgetchallenge.org/', target='_blank') California Budget Challenge
          li
            a(href='http://demo.outline.com/#budget/2', target='_blank') Massachusetts Budget Simulator
          li
            a(href='http://www.ofm.wa.gov/budget13/visualization/default.asp', target='_blank') Washington Governor's Proposed 2013-15 Budget
        h4.subheader Countries
        ul.disc
          li
            a(href='http://philogb.github.io/budgetvis/', target='_blank') US Budget spending 2011 (US)
          li
            a(href='http://wheredidmytaxdollarsgo.com/', target='_blank') Where Did My Tax Dollars Go? (US)
          li
            a(href='http://www.nytimes.com/interactive/2012/02/13/us/politics/2013-budget-proposal-graphic.html?_r=0', target='_blank') Obama’s 2013 Budget Proposal
            li
              a(href='http://wheredoesmymoneygo.org/', target='_blank') Where Does My Money Go? (UK)
            li
              a(href='http://peterkrantz.com/v11n/statsbudget-2013/', target='_blank') Statsbudgeten 2013 (Sweden)
            li
              a(href='http://bund.offenerhaushalt.de/', target='_blank') OffenerHaushalt.de (Germany)
            li
              a(href='http://cameroon.openspending.org', target='_blank') Cameroon Budget Inquirer
            li
              a(href='http://slovakia.openspending.org', target='_blank') Slovakia's Municipal Budgets
            li
              a(href='http://www.budgetstories.md', target='_blank') Budget Stories (Moldova)
