.container
  .row
    .col-md-9
      h4.subheader
        | Understanding the city budget by visualizing data, providing a forum for dialogue, and sharing essential information about the budget process.
      div
        img.img-responsive(src='/images/process.png')
        p(align='right')
          small
            | Image: 
            a(href='http://www.openspending.org/', target='_blank') OpenSpending
      h2.subheader What we do
      p
        | Open Budget: Oakland promotes a deeper understanding of the city budget, so that citizens, officials, and other stakeholders can engage in more informed dialogue about how the City of Oakland currently works and how it should in the future.
      h2.subheader How we do it
      ul.disc
        li
          | We work with 
          strong community groups
          |  to learn what aspect of the budget is most relevant to them, and how it would be best shared with the public.
        li
          | We work with 
          strong Oakland’s Budget Office
          |  to access budget data and present it in a simple, useful format.
        li
          | We 
          strong visualize 
          |  Oakland budget data, and 
          strong share resources
          |  for people to create their own visualizations and analyses.
        li
          | We use tools that are 
          strong free, open-source, and require minimum technical skill
          | .
        li
          | We 
          strong stimulate dialogue and provide a forum
          |  for Oaklanders to discuss the budget.
      p
        | Now that you know our goals, 
        a(href='feedback.html') share your ideas here
        | .
//
   Included JS Files (Uncompressed)
//
    <script src="javascripts/jquery.js"></script><script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script><script src="javascripts/jquery.foundation.forms.js"></script><script src="javascripts/jquery.foundation.reveal.js"></script><script src="javascripts/jquery.foundation.orbit.js"></script><script src="javascripts/jquery.foundation.navigation.js"></script><script src="javascripts/jquery.foundation.buttons.js"></script><script src="javascripts/jquery.foundation.tabs.js"></script><script src="javascripts/jquery.foundation.tooltips.js"></script><script src="javascripts/jquery.foundation.accordion.js"></script><script src="javascripts/jquery.placeholder.js"></script><script src="javascripts/jquery.foundation.alerts.js"></script><script src="javascripts/jquery.foundation.topbar.js"></script><script src="javascripts/jquery.foundation.joyride.js"></script><script src="javascripts/jquery.foundation.clearing.js"></script><script src="js/jquery.foundation.magellan.js"></script>

//
   Included JS Files (Compressed)
script(src='/js/old/jquery.js')
script(src='/js/old/foundation.min.js')
//
   Initialize JS Plugins
script(src='/js/old/app.js')
