extends partials/layout

prepend pageTitle
  - var title = "What We Do"

block bodyClass
  - var slug = "about"

block content
  .container
    .row
      .col-md-9
        h4.subheader
          | We display city budget data in a helpful and clear format, explain how the budget is put together and voted on, and give people resources to follow up on what they have learned.
        div
          img.img-responsive(src='/images/process.png' alt="Infographic displaying the budget process")
          p(align='right')
            small
              | Image: 
              a(href='http://www.openspending.org/', target='_blank') OpenSpending
        h2.subheader What we do
        p
          | Open Budget: Oakland helps people learn more about the city budget, so they can talk about it with each other, with city council members, and with city staff.  We want people to know how their city works and how it could work better.
        h2.subheader How we do it
        ul.disc
          li
            | We talk to 
            strong local groups
            |  to learn what they want to know about the budget and how best to share that knowledge.
          li
            | Every two years, at the beginning of each budget cycle, we get this data from 
            strong Oakland’s Budget Office
            |  and present it in a simple, useful format.to access timely, accurate budget data and present it in a simple, useful format.
          li
            | For those who wish to do their own analysis or make their own charts, we offer #[a(href='https://github.com/openoakland/openbudgetoakland/wiki/API-Documentation') our API], which is  
            strong a free, easy-to-use open-source tool
            | .
        p
          | Now that you know our goals, 
          a(href='/feedback') share your ideas here
          | .
  //
    Included JS Files (Uncompressed)
  //
      <script src="javascripts/jquery.js"></script><script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script><script src="javascripts/jquery.foundation.forms.js"></script><script src="javascripts/jquery.foundation.reveal.js"></script><script src="javascripts/jquery.foundation.orbit.js"></script><script src="javascripts/jquery.foundation.navigation.js"></script><script src="javascripts/jquery.foundation.buttons.js"></script><script src="javascripts/jquery.foundation.tabs.js"></script><script src="javascripts/jquery.foundation.tooltips.js"></script><script src="javascripts/jquery.foundation.accordion.js"></script><script src="javascripts/jquery.placeholder.js"></script><script src="javascripts/jquery.foundation.alerts.js"></script><script src="javascripts/jquery.foundation.topbar.js"></script><script src="javascripts/jquery.foundation.joyride.js"></script><script src="javascripts/jquery.foundation.clearing.js"></script><script src="js/jquery.foundation.magellan.js"></script>

  //
    Included JS Files (Compressed)
  script(src='/js/old/jquery.js')
  script(src='/js/old/foundation.min.js')
  //
    Initialize JS Plugins
  script(src='/js/old/app.js')
