.container
  .row
    .col-md-9
      div
        h2.subheader Who we are
        p
        | Open Budget: Oakland is the result of many contributors including coders, community advocates, and city officials. We're looking for ideas and help, so get in touch and stop by our weekly 
        a(href='http://www.meetup.com/OpenOakland/') meetup
        |  on Tuesdays 6:30–9pm at City Hall as part of 
        a(href='http://openoakland.org/') OpenOakland
        |  hack night (
        a(href='contact.html') send us an email
        |  ahead of time so we're sure to be available).
        h4.subheader Current team:
        ul.list-unstyled
          li Adam Stiles
          li Amanda Richardson
          li Andrea Moed
          li Elina Rubuliak
          li Ian MacFarland
          li Jeff French
          li Mike Ubell
          li Phil Popp
          li Phil Wolff
          li Tom Dooner
        h4.subheader City partners:
        ul.list-unstyled
          li Bradley Johnson, Assistant to the City Administrator, City of Oakland
          li Mai-Ling Garcia, Online Communications Manager, City of Oakland
        h4.subheader Contributors:
        ul.list-unstyled
          li Ben Wen
          li Bob Sarnoff
          li Dave Guarino
          li David Ordal
          li Deborah Acosta
          li Diana Wu
          li Ian McEachern
          li Ikka Lynn
          li Jehan Tremback
          li Jon Katz
          li Max Ogden
          li Mohamed Gulaid
          li Nic Aulston
          li Rachel Li
          li Shawn McDougal
          li Sonya Rifkin
          li Steve Berley
          li Steve Spiker
          li Tom Fite
          li And the rest of the 
            a(href='http://codeforoakland.org/', target='_blank') Code for Oakland
            |  crew...
