.container
  .row
    .col-md-9
      div
        h2.subheader Who we are
        p
        |Open Budget: Grand Rapids is a project of Citizen Labs and the result of many contributors including coders, community advocates, and city officials. We're looking for ideas on ways that we can contribute to the Grand Rapids community. If this sounds interesting and you would like to get involved
        a(href='feedback.html')  please contact us.
        h4.subheader Citizen Labs team:
        ul.list-unstyled
          li Allen Clark
          li Jace Browning
        h4.subheader City partners:
        ul.list-unstyled
          li Scott Buhrer, Chief Financial Officer, City of Grand Rapids
          li Scott Saindon, CPA, Budget Analyst, City of Grand Rapids
          li Sue Luzer, Financial Systems Administrator, City of Grand Rapids
          li Karen Mendez, City of Grand Rapids
          li Becky Jo Glover, 311 Customer Service Manager, City of Grand Rapids
        h4.subheader Original Code Contributors:
        ul.list-unstyled
          li Ian MacFarland and the rest of the 
            a(href='http://codeforoakland.org/', target='_blank') Code for Oakland
            |  crew...
          li
          a(href='http://codeforsacramento.org/', target='_blank') Code for Sacramento
