.container
  .row
    .col-md-9
      div
        h2.subheader Who we are
        p
        | Open Budget: Oakland is the result of many contributors including coders, community advocates, and city officials. We're looking for ideas and help, so get in touch and stop by our weekly 
        a(href='http://www.meetup.com/OpenOakland/') meetup
        |  on Tuesdays 6:30–9pm at City Hall as part of 
        a(href='http://openoakland.org/') OpenOakland
        |  hack night (
        a(href='contact.html') send us an email
        |  ahead of time so we're sure to be available).
        h4.subheader Current team:
        ul.list-unstyled
          li Adam Stiles
          li Andrea Moed
          li Ian Macfarland
          li Jeff French
          li Phililp Popp
          li Rachel Li
        h4.subheader City Advisor:
        ul.list-unstyled
          li Bradley Johnson, City Administrator Analyst, City of Oakland
        h4.subheader Contributors:
        ul.list-unstyled
          li Ben Wen
          li Bob Sarnoff
          li Dave Guarino
          li David Ordal
          li Deborah Acosta
          li Diana Wu
          li Ian McEachern
          li Ikka Lynn
          li Jehan Tremback
          li Jon Katz
          li Max Ogden
          li Mohamed Gulaid
          li Nic Aulston
          li Shawn McDougal
          li Sonya Rifkin
          li Steve Berley
          li Steve Spiker
          li Tom Fite
          li And the rest of the 
            a(href='http://codeforoakland.org/', target='_blank') Code for Oakland
            |  crew...
