extends partials/layout

prepend pageTitle
  - var title = "Who We Are"

block bodyClass
  - var slug = "about"

block content
  .container
    .row
      .col-md-9
        div
          h2.subheader Who we are
          p
          | Open Budget: Oakland is the result of many contributors including coders, community advocates, and city officials. We're looking for ideas and help, so get in touch and stop by our weekly 
          a(href='http://www.meetup.com/OpenOakland/') meetup
          |  on Tuesdays 6:30–9pm at City Hall as part of 
          a(href='http://openoakland.org/') OpenOakland
          |  hack night (
          a(href='/contact') send us an email
          |  ahead of time so we're sure to be available).
          h4.subheader Current team:
          ul.list-unstyled
            li Beti G.
            li Cindy Terdiman
            li Emily Peri
            li Felicia Betancourt
            li Karen Ivy
            li Meredith Burkle
            li Sean Martinez
          // h4.subheader City partners:
          // ul.list-unstyled
            li Bradley Johnson, Assistant to the City Administrator, City of Oakland
            li Mai-Ling Garcia, Online Communications Manager, City of Oakland
          h4.subheader Contributors:
          .auto-columns
            ul.list-unstyled
              li Adam Stiles
              li Amanda Richardson
              li Andrea Moed
              li Ben Wen
              li Bob Sarnoff
              li Dave Guarino
              li David Ordal
              li Deborah Acosta
              li Diana Wu
              li Elina Rubuliak
              li Ian MacFarland
            ul.list-unstyled
              li Ian McEachern
              li Ikka Lynn
              li Jeff French
              li Jehan Tremback
              li Jon Katz
              li Max Ogden
              li Mike Ubell
              li Mohamed Gulaid
              li Nic Aulston
              li Nick Brooks
              li Phil Popp
            ul.list-unstyled
              li Phil Wolff
              li Rachel Li
              li Shawn McDougal
              li Sonya Rifkin
              li Steve Berley
              li Steve Spiker
              li Tom Dooner
              li Tom Fite
              li Yumiko Abe-Jones
          ul.list-unstyled
            li And the rest of the original 
              a(
                href='https://oaklandnorth.net/2012/07/23/code-for-oakland-challenges-developers-to-turn-public-data-into-an-app/', target='_blank'
              ) Code for Oakland
              |  crew...
